.download-cv-button-container {
  .btn-download-cv {
    width: 100%;
    height: auto;
    padding: 10px 20px;

    img {
      width: 48px;
      margin-right: 8px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.niky-text-info {
  box-shadow: 30px 30px 30px rgba(50, 49, 49, 1.8);
}

.protest-revolution-regular {
  font-family: 'Protest Revolution', sans-serif;
  font-weight: 1000;
  font-style: normal;
}
