// nikytextinfo.scss
// They can be rems and px but not %
// inset (moves shadow to the inside) 1. Horizontal offset. 2. Vertical offset. 3. Blur radius (can't be negative).
// 4. Spread radius (can be negative). 5. Color.
.niky-text-info-card {
  box-shadow: 30px 30px 30px rgba(50, 49, 49, 1.8);
}

.protest-revolution-regular {
  font-family: 'Protest Revolution', sans-serif;
  font-weight: 400;
  font-style: normal;
}
